uni-button {
    margin: 0 auto;
    width: 700rpx;
    background-color: #18bc37;
    color: #fff;
}

uni-button {
    margin: 0 auto !important;
    padding: 0 28rpx !important;
    box-sizing: border-box !important;
    font-size: 36rpx !important;
    border-radius: 10rpx !important;
    line-height: 92rpx !important;
}